<!DOCTYPE html>
<html lang="pt-br" ng-app="store">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Treinamento Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="resources/css/estilo.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.7/angular-route.min.js"></script>
    <script src="resources/js/script.js"></script>
</head>
<body>
<div class="container">
    <header class="cabecalho">
        <h1>Pizza Planet</h1>
        <h2>A pizza do seu jeito</h2>
    </header>
    <div class="row">
        <section ng-controller="EstoqueController as item">
            <article ng-repeat="pizza in item.products" ng-show="pizza.disponivel" class="col-md-4 pizza">
                <div class="pizza-content">
                    <h2>Pizza {{pizza.nome}}</h2>
                    <img ng-src="{{pizza.img}}">
                    <p>Valor: {{pizza.preco | currency:"R$ "}}</p>
                    <p>Descrição: {{pizza.descricao}}</p>
                    <p>Estoque: {{pizza.qtd}}</p>
                    <section ng-controller="PanelController as panel">
                        <ul class="nav nav-pills">
                            <li ng-class="{active: panel.painelSelecionado(0)}">
                                <a href ng-click="panel.selecionaPainel(0)">Realizar Pedido</a>
                            </li>
                            <li ng-class="{active: panel.painelSelecionado(1)}">
                                <a href ng-click="panel.selecionaPainel(1)">Avaliações</a>
                            </li>
                        </ul>


                        <div class="painel" ng-show="panel.painelSelecionado(0)">
                            <form name="compra">
                                <input type="submit" class="btn btn-default" ng-show="pizza.disponivel" value="Comprar"
                                       ng-click="item.comprarPizza(pizza)">
                            </form>
                        </div>

                        <div class="painel" ng-show="panel.painelSelecionado(1)">
                            <div class="avaliacao" ng-repeat="review in pizza.reviews">
                                <h4>{{review.descricao}} - <cite>{{review.autor}}</cite></h4>
                                <span>{{review.estrelas + " estrelas"}}</span>
                            </div>
                            <form name="novoReview" class="novaAvaliacao" ng-controller="ReviewController as reviewCtrl"
                                  ng-submit="novoReview.$valid && reviewCtrl.addReview(pizza)" novalidate>
                                <label for="desc">Descrição:</label>
                                <textarea id="desc" ng-model="reviewCtrl.avaliacao.descricao"
                                          class="form-control"></textarea>
                                <label for="autor">Autor:</label>
                                <input type="text" id="autor" ng-model="reviewCtrl.avaliacao.autor"
                                       class="form-control" required>
                                <label for="level">Avaliação:</label>
                                <select ng-model="reviewCtrl.avaliacao.estrelas" id="level" required
                                        class="form-control">
                                    <option value="1">1 estrela</option>
                                    <option value="2">2 estrelas</option>
                                    <option value="3">3 estrelas</option>
                                    <option value="4">4 estrelas</option>
                                    <option value="5">5 estrelas</option>
                                </select><br>
                                <input type="submit" class="btn btn-success">
                            </form>
                        </div>
                    </section>
                </div>
            </article>
        </section>
    </div>
</div>
</body>
</html>